[Unit]
Description=Watching Coinbase wallet balance

[Service]
Type=simple
PIDFile=/var/run/coinbase-watcher.pid
ExecStartPre=/bin/rm -f /var/run/coinbase-watcher.pid
ExecStart=/usr/local/bin/coinbase-watcher

[Install]
WantedBy=multi-user.target
