[Unit]
Description=Execute coinbase-watcher every 15 minutes

[Timer]
OnCalendar=*:0,15,30,45
Unit=coinbase-watcher.service

[Install]
WantedBy=multi-user.target
